<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Love is just a numbers game</h1>
    <br />
    <h2>We're here to help.</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Intro to You</h3>
    <br />
    <p>You are the focus of our courses. Find ways to improve yourself before impressing others.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Learn At Your Own Pace</h3>
    <br />
    <p>Enroll and access our wide range of courses.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join the Wolfpack</h3>
    <br />
    <p>Learn with a community of others looking to improve their love life.</p>
  </div>
</div>
