<br />

<div class="booyah-box col-10 offset-1">
  <h1>Meet the Team</h1>
  <br />
  <h2>Brian Hong</h2>
   <h5>Brian is currently a web developer in training at the UC Berkeley Coding Bootcamp. Check out his other projects and portfolio at 
    <%= link_to "Brian's Portfolio", "https://brihong.netlify.com", :target => "_blank" %>
    </h5>

    <div class="col-6 col-sm-3" style="padding-top:30px;">
      <%= image_tag 'me-wed.jpg', class: 'img-fluid' %>
    </div>
</div>